header {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
.cabecalho.imagem{
    width:30%;
}
.cabecalho {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
}
.cabecalho.lista.item{
    display: inline-block;
    margin:0 16px;
    padding:0 24px;
    justify-content: space-around;
    font-size: 24px;
}
.mavi-imagem {
    width:20%;
    height:20%;
}
.mavi{
    background-image: linear-gradient(rgb(0, 0, 0),#383d58);
    color: rgb(255, 255, 255)
    display: flex;
}